////////////////////////////////////////////
// Mixins
////////////////////////////////////////////
@mixin ease5 {
    transition: all 0.5s ease-in-out;
}
@mixin ease2 {
    transition: all 0.2s ease-in-out;
}
@mixin vertCenter {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
@mixin horCenter {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
@mixin absCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
@mixin fixedCenter {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
@mixin boxShadow {
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.05);
}
@mixin textTwoCol {
    @media (min-width: 768px) {
        column-count: 2;
        column-gap: 10%;
        p {
            -webkit-column-break-inside: avoid;
            page-break-inside: avoid;
                break-inside: avoid;
        }
    }
}
@mixin textThreeCol {
    @media (min-width: 768px) {
        column-count: 3;
        column-gap: 10%;
        p {
            -webkit-column-break-inside: avoid;
            page-break-inside: avoid;
                break-inside: avoid;
        }
    }
}
@mixin textGrad {
    background: linear-gradient(45deg, #073ffa, #63279b, #dc061e)!important;
    background-clip: border-box!important;
    -webkit-background-clip: text!important;
    background-clip: text!important;
    -webkit-background-clip: text!important;
    text-fill-color: transparent!important;
    -webkit-text-fill-color: transparent!important;
}
@mixin colourGrad {
    background: -moz-linear-gradient(45deg, #073ffa 0%, #63279b 50%, #dc061e 100%)!important;
    background: -webkit-linear-gradient(45deg, #073ffa 0%,#63279b 50%,#dc061e 100%)!important;
    background: linear-gradient(45deg, #073ffa 0%,#63279b 50%,#dc061e 100%)!important;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#073ffa', endColorstr='#dc061e',GradientType=1 )!important;
}