////////////////////////////////////////////
// Mixins
////////////////////////////////////////////
@mixin ease5 {
    transition: all 0.5s ease-in-out;
}
@mixin ease2 {
    transition: all 0.2s ease-in-out;
}
@mixin vertCenter {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
@mixin horCenter {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
@mixin absCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
@mixin fixedCenter {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
@mixin boxShadow {
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.05);
}
@mixin textTwoCol {
    @media (min-width: 768px) {
        column-count: 2;
        column-gap: 10%;
        p {
            -webkit-column-break-inside: avoid;
            page-break-inside: avoid;
                break-inside: avoid;
        }
    }
}
@mixin textThreeCol {
    @media (min-width: 768px) {
        column-count: 3;
        column-gap: 10%;
        p {
            -webkit-column-break-inside: avoid;
            page-break-inside: avoid;
                break-inside: avoid;
        }
    }
}
@mixin textGrad {
    background: linear-gradient(45deg, #073ffa, #63279b, #dc061e)!important;
    background-clip: border-box!important;
    -webkit-background-clip: text!important;
    background-clip: text!important;
    -webkit-background-clip: text!important;
    text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
}
@mixin colourGrad {
    background: -moz-linear-gradient(45deg, #073ffa 0%, #63279b 50%, #dc061e 100%)!important;
    background: -webkit-linear-gradient(45deg, #073ffa 0%,#63279b 50%,#dc061e 100%)!important;
    background: linear-gradient(45deg, #073ffa 0%,#63279b 50%,#dc061e 100%)!important;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#073ffa', endColorstr='#dc061e',GradientType=1 )!important;
}
@mixin button {
    font-family: 'Bungee',display;
    padding: 0.5em 1.5em 0.4em 1.5em !important;
    border: 1px solid;
    border-image-slice: 1!important;
    border-width: 1px;
    border-image-source: linear-gradient(45deg, #073ffa, #63279b, #dc061e) !important;
    @include ease2();
    @include textGrad();
    position: relative;
    z-index: 0;
    &::after {
        content: ""!important;
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: -1;
        @include colourGrad();
        opacity: 0;
        @include ease2();
        margin: 0!important;
        padding: 0;
    }
    &:hover {
        padding: 0.5em 1.5em 0.4em 1.5em !important;
        text-fill-color: $white;
        -webkit-text-fill-color: $white;
        color: $white;
        border: 1px solid!important;
        border-image-slice: 1!important;
        border-width: 1px!important;
        border-image-source: linear-gradient(45deg, #073ffa, #63279b, #dc061e) !important;
        &::after {
            opacity: 1!important;
            margin: 0!important;
        }
    }
}