////////////////////////////////////////////
// Variables
////////////////////////////////////////////
$white: #ffffff;
$black: #000000;
$primary1: #bea668;
$drk: #64646c;
$grey: #c6c6c6;
$lgrey: #f0f0f0;
$red: #c0392b; 