////////////////////////////////////////////
// Variables
////////////////////////////////////////////
$white: #ffffff;
$black: #000000;
$primary1: #63279b;
$drk: #64646c;
$drkbg: #0d0d0d;
$grey: #c6c6c6;
$lgrey: #f0f0f0;
$red: #dc061e; 
$blue: #073ffa;