////////////////////////////////////////////
// Typography
////////////////////////////////////////////
//@import 'typography';

////////////////////////////////////////////
// Variables & mixins
////////////////////////////////////////////
@import 'variables';
@import 'mixins';

/* ===========================
STYLES
=========================== */
// CHANGE HIGHLIGHT COLOUR
::-moz-selection { background: $primary1; color: $white; }
::selection { background: $primary1; color: $white; }

// CHANGE GLOBAL ROW MAX WIDTH
#top-header > .container,
/*#main-header > .container,*/
#et_search_outer > .container,
body.single #main-content > .container,
body.page:not(.et-tb-has-template) div.et_pb_row,
body.page.et-tb-has-template .et-l--post div.et_pb_row,
body.single-project div.et_pb_row,
body.single-project div.et_pb_row.et_pb_row_fullwidth,
body.et-db #et-boc .et-l .et_pb_row {
    width: 90%; 
}
html {
    scroll-behavior: smooth;
}
body {
    letter-spacing: .02rem;
    .subHeader {
        h2 {
            padding-bottom: 0;
        }
    }
    .et_pb_button_module_wrapper .et_pb_button, .et_pb_button_module_wrapper .et_button_no_icon.et_button_icon_visible.et_button_left .et_pb_button, .et_button_no_icon .et_pb_button {
        padding: 0.5em 1.5em 0.3em 1.5em !important;
        &:hover {
            padding: 0.5em 1.5em 0.3em 1.5em !important;
        }
    }
    #page-container {
        @import 'header';
        animation: bodyFadeIn 1.5s;
        @keyframes bodyFadeIn {
            0% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }
        #et-main-area {
            .et_pb_row.fwRow {
                width: 100%!important;
                max-width: none!important;
            }
            .et_pb_text {
                &.twoCol {
                    .et_pb_text_inner {
                        @media (min-width: 981px) {
                            column-count: 2;
                            column-gap: 5%;
                            column-fill: balance;
                        }
                    }
                }
                a {
                    text-decoration: none;
                    position: relative;
                    cursor: pointer;
                    white-space: nowrap;
                    &::before {
                        content: "";
                        position: absolute;
                        left: 0;
                        bottom: -.2rem;
                        right: 100%;
                        border-bottom: 1px solid $primary1;
                    }
                    &::after {
                        content: "";
                        position: absolute;
                        right: 0;
                        left: 100%;
                        bottom: -.2rem;
                        border-bottom: 1px solid $primary1;
                        -webkit-transition: left .15s ease-out;
                        -o-transition: left .15s ease-out;
                        transition: left .15s ease-out;
                        transition-delay: 0s;
                        transition-delay: .15s;
                    }
                    &:hover {
                        &::before {
                            content: "";
                            right: 0;
                            -webkit-transition: right .15s ease-out;
                            -o-transition: right .15s ease-out;
                            transition: right .15s ease-out;
                        }
                        &::after {
                            content: "";
                            left: 0;
                        }
                    }
                }
                ul {
                    li {
                        line-height: 1.6em;
                        margin-bottom: 5px;
                    }
                }
                ol {
                    list-style: none;
                    counter-reset: decimal;
                    position: relative;
                    margin-bottom: 30px;
                    li {
                        line-height: 1.6em;
                        margin-bottom: 5px;
                        counter-increment: decimal;
                        position: relative;
                        padding-left: 23px;
                        &::before {
                            position: absolute;
                            left: 0;
                            content: counters(decimal, ".") ". ";
                        }
                        &::marker {
                            display: none;
                        }
                        ol {
                            list-style: none;
                            padding-left: 0;
                            margin-bottom: 0;
                            li {
                                padding-left: 38px;
                                ol {
                                    margin-bottom: 0;
                                    li {
                                        padding-left: 53px;
                                    }
                                }
                            }
                        }
                        ul {
                            li {
                                padding-left: 0;
                                &::before {
                                    content: none;
                                }
                            }
                        }
                    }
                }
                &.et_pb_bg_layout_dark {
                    strong {
                        color: $white;
                    }
                }
            }
            .et_pb_button_module_wrapper .et_pb_button, .et_pb_button_module_wrapper .et_button_no_icon.et_button_icon_visible.et_button_left .et_pb_button, .et_button_no_icon .et_pb_button, .et_pb_contact_submit {
                padding: 0.5em 1.5em 0.3em 1.5em !important;
                &:hover {
                    padding: 0.5em 1.5em 0.3em 1.5em !important;
                }
            }
            .socialIcons {
                img {
                    height: 40px;
                    opacity: 0.75;
                    transition: opacity 0.4s cubic-bezier(.2, .85, .32, 1.2);
                    &:hover {
                        opacity: 1;
                    }
                }
                display: flex;
                flex-wrap: nowrap;
                flex-direction: row;
                align-content: center;
                justify-content: space-between;
                align-items: stretch;
                gap: 20px;
                a {
                    display: flex;
                    align-items: center;
                }
            }
            #main-content {
                @media all and (max-width: 980px) {
                    /* wrap row in a flex box */
                    .custom_row {
                        display: -webkit-box;
                        display: -moz-box;
                        display: -ms-flexbox;
                        display: -webkit-flex;
                        display: flex;
                        -webkit-flex-wrap: wrap; /* Safari 6.1+ */
                        flex-wrap: wrap;
                    }
                    /* custom classes that will designate the order of columns in the flex box row */
                    .first-on-mobile {
                        -webkit-order: 1;
                        order: 1;
                    } 
                    .second-on-mobile {
                        -webkit-order: 2;
                        order: 2;
                    }	 
                    .third-on-mobile {
                        -webkit-order: 3;
                        order: 3;
                    }	 
                    .fourth-on-mobile {
                        -webkit-order: 4;
                        order: 4;
                    }
                    /* add margin to last column */
                    .custom_row:last-child .et_pb_column:last-child {
                        margin-bottom: 30px;
                    }	 
                }
                //@import 'table';
                @import 'mapsvg';
                .cwp_et_pb_layout_slider_standard {
                    .swiper-container {
                        .swiper-wrapper {
                            .swiper-slide {
                                /*.et_pb_section {
                                    &::before {
                                        transition: transform 0.2s ease;
                                        transform: scale(1.7);
                                    }
                                }*/
                                .et_pb_button {
                                    padding: 0.5em 1.5em 0.3em 1.5em !important;
                                    &:hover {
                                        padding: 0.5em 1.5em 0.3em 1.5em !important;
                                    }
                                }
                                
                            }
                        }
                        .as-dots-wrapper {
                            .swiper-bullets {
                                bottom: 0;
                                .swiper-pagination-bullet {
                                    margin-right: 10px;
                                    border-radius: 0!important;
                                    &:last-child {
                                        margin-right: 0;
                                    }
                                }
                            }
                        }
                        .as-arrows-control {
                            .as-prev, .as-next {
                                transition: background-color .2s ease;
                                background-color: rgba(0,0,0,0);
                                .custom_icon {
                                    line-height: 1.4;
                                }
                                &:hover {
                                    background-color: rgba(0,0,0,0.1);
                                }
                                @media (max-width:768px) {
                                    top: unset;
                                    bottom: 0;
                                    height: auto;
                                }
                            }
                        }
                    }
                    &.fpSlider {
                        .swiper-container {
                            .swiper-wrapper {
                                .swiper-slide {
                                    &.swiper-slide-active {
                                        .et_pb_section {
                                            .et_pb_column {
                                                animation: textAnimate 1.5s;
                                                @keyframes textAnimate {
                                                    0% {
                                                        opacity: 0;
                                                        transform: translateY(15%);
                                                    }
                                                    50% {
                                                        opacity: 0;
                                                        transform: translateY(15%);
                                                    }
                                                    100% {
                                                        opacity: 1;
                                                        transform: translateY(0);
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    &.productCarousel {
                        .swiper-container {
                            @media (min-width:768px) {
                                overflow: visible;
                            }
                            .swiper-wrapper {
                                //padding: 50px 0;
                                .swiper-slide {
                                    .as_slide_image_wrapper {
                                        align-self: center;
                                    }
                                    &::before {
                                        @media (max-width:980px) {
                                            content: "";
                                        }
                                        display: block;
                                        position: absolute;
                                        width: 400px;
                                        height: 400px;
                                        width: 100%;
                                        height: 100%;
                                        max-height: 400px;
                                        max-width: 400px;
                                        top: 50%;
                                        left: 50%;
                                        transform: translate(-50%,-50%);
                                        background: #111;
                                        z-index: -1;
                                        opacity: 0.5;
                                        background: -moz-radial-gradient(center, ellipse cover, rgba(190,166,104,1) 0%, rgba(0,0,0,1) 75%);
                                        background: -webkit-radial-gradient(center, ellipse cover, rgba(190,166,104,1) 0%,rgba(0,0,0,1) 75%);
                                        background: radial-gradient(ellipse at center, rgba(190,166,104,1) 0%,rgba(0,0,0,1) 75%);
                                        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bea668', endColorstr='#000000',GradientType=1 );
                                        animation: glowFade 1s;
                                        @keyframes glowFade {
                                            0% {
                                                opacity: 0;
                                            }
                                            100% {
                                                opacity: 0.5;
                                            }
                                        }
                                    }
                                    &.swiper-slide-active + .swiper-slide {
                                        position: relative;
                                        @media (min-width:981px) {
                                            &::before {
                                                content: "";
                                            }
                                        }
                                    }
                                    /*@media (min-width:768px) {
                                        .as_slide_image_wrapper {
                                            -webkit-transform: scale(0.8);
                                            transform: scale(0.8);
                                            transition: transform 0.4s linear;
                                        }
                                        .as_slide_content_wrapper {
                                            z-index: 1;
                                            transform: translateY(-30px) scale(0.8);
                                            transition: transform 0.4s linear;
                                        }
                                        &.swiper-slide-next {
                                            .as_slide_image_wrapper {
                                                -webkit-transform: scale(0.9);
                                                transform: scale(0.9);
                                            }
                                            .as_slide_content_wrapper {
                                                z-index: 1;
                                                transform: translateY(-20px) scale(0.9);
                                            }
                                        }
                                        &.swiper-slide-next + .swiper-slide {
                                            .as_slide_image_wrapper {
                                                -webkit-transform: scale(0.8);
                                                transform: scale(0.8);
                                            }
                                            .as_slide_content_wrapper {
                                                z-index: 1;
                                                transform: translateY(-30px) scale(0.8);
                                            }
                                        }
                                        &.swiper-slide-prev {
                                            .as_slide_image_wrapper {
                                                -webkit-transform: scale(0.9);
                                                transform: scale(0.9);
                                            }
                                            .as_slide_content_wrapper {
                                                z-index: 1;
                                                transform: translateY(-20px) scale(0.9);
                                            }
                                        }
                                        &.swiper-slide-active {
                                            .as_slide_image_wrapper {
                                                -webkit-transform: scale(1.3);
                                                transform: scale(1.3);
                                            }
                                            .as_slide_content_wrapper {
                                                z-index: 1;
                                                transform: translateY(0) scale(1);
                                            }
                                        }   
                                    }*/
                                }
                            }
                        }
                        .as-arrows-control {
                            .as-prev {
                                @media (min-width:768px) {
                                    left: -2.5%;
                                }
                            }
                            .as-next {
                                @media (min-width:768px) {
                                    right: -2.5%;
                                }
                            }
                        }
                        &.links {
                            .swiper-container {
                                .swiper-wrapper {
                                    .swiper-slide {
                                        cursor: pointer;
                                        .as_slide_image_wrapper {
                                            .et_pb_image_wrap {
                                                img {
                                                    @include ease2();
                                                }
                                                
                                            }
                                        }
                                        &:hover {
                                            .as_slide_image_wrapper {
                                                .et_pb_image_wrap {
                                                    img {
                                                        opacity: 0.8;
                                                    }   
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                /*.signPosts {
                    .et_pb_column {
                        .et_pb_text {
                            h1{
                                font-size: 30px;
                            }
                        }
                    }
                }
                .imgSignPosts {
                    .et_pb_column {
                        .et_pb_text {
                            opacity: 0.7;
                            transition: opacity 0.2s ease;
                            h1, h2, h3 {
                                padding-bottom: 0;
                            }
                        }
                        &:hover {
                            .et_pb_text {
                                opacity: 1;
                            }
                        }
                    }
                }*/
                /*.et_pb_contact_form_container {
                    color: $black;
                    font-weight: 400;
                    margin-bottom: 20px;
                    .et-pb-contact-message {
                        > ul {
                            margin-top: 10px; 
                        }
                        ul {
                            font-weight: 300;
                            color: $drk;
                        }
                    }
                    .et_pb_contact {
                        .et_pb_contact_form {
                            .et_pb_contact_field {
                                .input {
                                    @include ease2();
                                    &::placeholder {
                                        @include ease2();
                                        color: $drk;
                                    }
                                    &:focus {
                                        border-color: $black;
                                        &::placeholder {
                                            border-color: $black;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }*/
                .et_pb_accordion {
                    .et_pb_toggle.et_pb_accordion_item {
                        .et_pb_toggle_title {
                            &::before {
                                transition: transform 0.2s ease;
                            }
                        }
                        &.et_pb_toggle_open {
                            .et_pb_toggle_title {
                                &::before {
                                    display: block;
                                    font-family: ETmodules!important;
                                    font-weight: 400!important;
                                    content: "\33"!important;
                                    transform: rotate(180deg);
                                }
                            }
                        }
                    }
                }
                #artist-list {
                    column-count: 3;
                    margin: auto;
                    padding: 0;
                    list-style: none;
                    column-gap: 5%;
                    column-fill: balance;
                    @media (max-width: 980px) {
                        column-count: 2;
                    }
                    @media (max-width: 767px) {
                        column-count: 1;
                    }
                    li {
                        a {
                            text-decoration: none;
                            transition: text-decoration 0.4s linear;
                            cursor: pointer;
                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }
                }
                #artists {
                    .searchWrapper {
                        background: $lgrey;
                        padding: 10px;
                        position: relative;
                        .search {
                            padding: 15px 60px 15px 30px !important;
                            height: auto;
                            min-height: 0;
                            appearance: none;
                            display: block;
                            margin: auto;
                            border: solid 1px $grey;
                            width: 100%;
                            font-size: 18px;
                            line-height: 30px;
                            &:focus {
                                border-color: $drk;
                                color: $black;
                            }
                        }
                        .clear {
                            @include vertCenter();
                            right: 30px;
                            display: none;
                            line-height: 0;
                            color: $grey;
                            @include ease2();
                            &:hover {
                                cursor: pointer;
                                color: $black;
                            }
                        }
                    }
                    ul.artists {
                        margin: 50px 0 0 0;
                        padding: 0;
                        list-style: none;
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                        align-items: stretch;
                        align-content: flex-start;
                        justify-content: space-between;
                        li.artist {
                            width: 30%;
                            display: flex;
                            flex-direction: row;
                            flex-wrap: nowrap;
                            justify-content: flex-start;
                            align-items: center;
                            margin-bottom: 10px;
                            @media (max-width:980px) {
                                width: 46%;
                            }
                            @media (max-width:767px) {
                                width: 100%;
                            }
                            > *:first-child {
                                flex-shrink: 0;
                            }
                            .artistImg {
                                img {
                                    margin-right: 25px;
                                    width: 100px;
                                    @include ease2();
                                    -webkit-border-radius: 200px;
                                    -moz-border-radius: 200px;
                                    border-radius: 200px;
                                    &:hover {
                                        opacity: 0.5;
                                    }
                                }
                            }
                            .artistDetails {
                                .artistName {
                                    font-size: 20px;
                                    padding-bottom: 5px;
                                }
                                .artistContent {
                                    color: $drk;
                                }
                            }
                        }
                    }
                    .artistModal {
                        display: none;
                        @include absCenter();
                        position: fixed;
                        padding: 2em;
                        background: $white;
                        z-index: 3;
                        border: solid 1px #000000;
                        width: 60%;
                        max-height: 80vh;
                        overflow-y: scroll;
                        overflow-x: hidden;
                        /*&::-webkit-scrollbar {
                            display: none;
                        }
                        -ms-overflow-style: none;
                        scrollbar-width: none;*/
                        @media (max-width: 767px) {
                            width: 98%;
                        }
                        h4 {
                            text-align: center;
                        }
                        .modalImg {
                            width: 100%;
                            text-align: center;
                            margin-bottom: 30px;
                        }
                        .excerpt {
                            color: $drk;
                            margin-bottom: 15px;
                            font-weight: 600;
                            text-align: center;
                        }
                        .artistLinks {
                            margin-bottom: 15px;
                            display: flex;
                            flex-wrap: nowrap;
                            flex-direction: row;
                            align-content: center;
                            justify-content: center;
                            align-items: center;
                            img {
                                height: 20px;
                                margin-right: 15px;
                                @include ease2();
                                &:hover {
                                    opacity: 0.7;
                                }
                            }
                        }
                        .closeArtist {
                            position: absolute;
                            top: -1px;
                            right: -1px;
                            line-height: 0;
                            padding: 4px;
                            border: solid 1px $black;
                            color: $white;
                            background: $black;
                            @include ease2();
                            &:hover {
                                color: $primary1;
                            }
                        }
                    }
                    .artistOverlay {
                        display: none;
                        background: rgba(0,0,0,0.6);
                        backdrop-filter: blur(4px);
                        position: fixed;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        width: 100%;
                        height: auto;
                        z-index: 2;
                    }
                }
                /* CATEGORY CARDS */               
                .cards {
                    --n: 1; 
                    --m: 4; 
                    --g: 0px;  
                    --f: .5;  
                    display: grid;
                    gap: var(--g);
                    width: 100vw;
                    height: 400px;
                    grid-template-columns: repeat(var(--m),auto);
                    & > .card {
                        position: relative;
                        width: 0;
                        height: 0;
                        min-height: 100%;
                        min-width: 100%;
                        transition: .35s linear;
                        overflow: hidden;
                        img {
                            width: 0;
                            height: 0;
                            min-height: 100%;
                            min-width: 100%;
                            object-fit: cover;
                            transition: .35s linear;
                            filter: brightness(30%);
                        }
                    }
                    .card {
                        .btn {
                            position: absolute;
                            display: block;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            cursor: pointer;
                            h3 {
                                color: $white;
                                //font-size: 20px;
                                padding: .5em 1.5em .3em !important;
                                background: transparent;
                                white-space: nowrap;
                                text-align: center;
                                transition: .35s linear;
                                opacity: 0.7;
                                @media (max-width: 767px) {
                                    white-space: normal;
                                    overflow-wrap: break-word;
                                    //font-size: 18px;
                                }
                            }
                            &:hover {
                                h3 {
                                    color: $white;
                                    background: $primary1!important;
                                }
                            }
                        }
                        &.expanded {
                            width:  calc(100vh*var(--f)/var(--n));
                            height: calc(100vw*var(--f)/var(--m));
                            @media (max-width: 980px) {
                                width:  calc(40vh*var(--f)/var(--n));
                            }
                            .btn {
                                h3 {
                                    background: rgba(0,0,0,0.7);
                                    opacity: 1;
                                }
                            }
                            img {
                                filter: brightness(100%);
                            }
                        }
                        &:hover {
                            width:  calc(100vh*var(--f)/var(--n));
                            height: calc(100vw*var(--f)/var(--m));
                            @media (max-width: 980px) {
                                width:  calc(40vh*var(--f)/var(--n));
                            }
                            img{
                                filter: brightness(100%);
                            }
                            .btn {
                                h3 {
                                    background: rgba(0,0,0,0.7);
                                    opacity: 1;
                                }
                            }
                        }
                    }
                }
                /* ===========================
                GRAVITY FORMS
                =========================== */
                .gform_wrapper {
                    .gfield_required {
                        color: $white;
                    }
                    .gform_validation_errors {
                        border-color: $red;
                        background: $red;
                        color: $white;
                        margin: 0 0 20px 0;
                        border-radius: 0;
                        > .gform_submission_error {
                            padding-bottom: 0;
                            color: $white;
                            letter-spacing: .02rem;
                        }
                        .gform-icon {
                            &::before {
                                color: $white;
                            }
                        }
                    }
                    .gform_body {
                        .gform_fields {
                            .gfield {
                                input[type=email], input[type=password], input[type=tel], input[type=text], select, textarea {
                                    border-radius: 0px 0px 0px 0px;
                                    overflow: hidden;
                                    -webkit-appearance: none;
                                    padding: 16px;
                                    line-height: 1.7em !important;
                                    font-size: 16px;
                                    color: $drk;
                                    background-color: $white;
                                    width: 100%;
                                    font-weight: 400;
                                    border: 1px solid transparent;
                                    letter-spacing: .02rem;
                                    font-weight: 500;
                                    &:focus {
                                        color: $black;
                                    }
                                }
                                input::-webkit-input-placeholder,
                                /*input::-moz-placeholder,*/
                                input:-ms-input-placeholder,
                                input::-ms-input-placeholder,
                                input::placeholder,
                                textarea::-webkit-input-placeholder,
                                /*textarea::-moz-placeholder,*/
                                textarea:-ms-input-placeholder,
                                textarea::-ms-input-placeholder,
                                textarea::placeholder,
                                select::-webkit-input-placeholder,
                                /*select::-moz-placeholder,*/
                                select:-ms-input-placeholder,
                                select::-ms-input-placeholder,
                                select::placeholder {
                                    color: $drk!important;
                                    opacity: 1!important;
                                }
                                .address_country {
                                    flex-grow: 1;
                                }
                                select {
                                    background-image: url("data:image/svg+xml;charset=UTF-8,%3c?xml version='1.0' encoding='UTF-8'?%3e%3csvg id='Layer_1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 23.74 15.3'%3e%3cdefs%3e%3cstyle%3e.cls-1%7bfill:%23c6c6c6;%7d%3c/style%3e%3c/defs%3e%3cpolygon class='cls-1' points='11.87 0 23.74 0 17.81 7.65 11.87 15.3 5.94 7.65 0 0 11.87 0'/%3e%3c/svg%3e");
                                    background-repeat: no-repeat, repeat;
                                    background-position: right 15px top 50%, 0 0;
                                    background-size: .65em auto, 100%;
                                    &:focus {
                                        background-image: url("data:image/svg+xml;charset=UTF-8,%3c?xml version='1.0' encoding='UTF-8'?%3e%3csvg id='Layer_1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 23.74 15.3'%3e%3cdefs%3e%3cstyle%3e.cls-1%7bfill:%23c6c6c6;%7d%3c/style%3e%3c/defs%3e%3cpolygon class='cls-1' points='11.87 15.3 0 15.3 5.94 7.65 11.87 0 17.81 7.65 23.74 15.3 11.87 15.3'/%3e%3c/svg%3e");
                                    }
                                    &:valid {
                                        color: $drk;
                                    }
                                    &:invalid, .gf_placeholder {
                                        color: $drk!important;
                                        opacity: 1;
                                    }
                                }
                                .warningTextareaInfo {
                                    color: $grey;
                                }
                                .gfield_description, .validation_message, .gfield_validation_message {
                                    font-size: 13px;
                                    padding: 0px 10px 0px 10px;
                                    border-color: $red;
                                    background: $red;
                                    color: $white;
                                    letter-spacing: .02rem;
                                }
                            }
                        }
                    }
                    input[type=submit] {
                        color: $white;
                        padding: .5em 1.5em .3em !important;
                        font-size: 16px;
                        background-color: $primary1;
                        border-color: $primary1;
                        border-radius: 0px;
                        font-weight: bold;
                        font-style: normal;
                        text-transform: uppercase;
                        text-decoration: none;
                        letter-spacing: -1px;
                        transition: all 300ms ease 0ms;
                        font-family: 'Josefin Sans',Helvetica,Arial,Lucida,sans-serif;
                        position: relative;
                        line-height: 1.7em !important;
                        background-size: cover;
                        background-position: 50%;
                        background-repeat: no-repeat;
                        border: 2px solid $primary1;
                        transition-property: all !important;
                        margin: 0;
                        outline: 0;
                        vertical-align: baseline;
                        box-sizing: border-box;
                        text-align: center;
                        &:hover {
                            color: $primary1 !important;
                            background-color: rgba(190,166,104,0);
                            border-color: $primary1 !important;
                            letter-spacing: -1px;
                        }
                    }
                }  
            }
            @import 'footer';
        }
        .et_pb_login {
            .et_pb_button {
                padding: 0.5em 1.5em 0.3em 1.5em !important;
                &:hover {
                    padding: 0.5em 1.5em 0.3em 1.5em !important;
                }
            }
            .et_pb_forgot_password {
                text-align: center;
            }
        }
    }
    .et_pb_scroll_top {
        border-radius: 0!important;
        background: $primary1!important;
        transition: opacity 0.2s linear;
        &:hover {
            opacity: 0.7;
        }
    }
}
.mfp-wrap {
    .mfp-container {
        &.mfp-image-holder {
            .mfp-content {
                .mfp-figure {
                    figure {
                        background: $black;
                        animation: lbFade 0.6s;
                        @keyframes lbFade {
                            0% {
                                opacity: 0;
                            }
                            100% {
                                opacity: 1;
                            }
                        }
                        figcaption {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}
.grecaptcha-badge { visibility: hidden!important; }
@import 'woocommerce';